.root {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.topBar {
  text-align: center;
  margin-bottom: 20px;
}

.downloadButton {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.downloadButton:hover {
  background: linear-gradient(90deg, #feb47b, #ff7e5f);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.leftSection,
.rightSection {
  width: 45%;
}

.profilePic {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sectionHeading {
  font-size: 1.5em;
  margin-top: 20px;
}

.progressBar {
  height: 5px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #003366;
}
